python-dotenv
blinker
click
colorama
easyocr
filelock
fsspec
imageio
itsdangerous
Jinja2
lazy_loader
MarkupSafe
mpmath
networkx
ninja
numpy
opencv-python
opencv-python-headless
packaging
pillow
pyclipper
pytesseract
python-bidi
PyYAML
scikit-image
scipy
setuptools
shapely
sympy
tifffile
torch
torchvision
typing_extensions
Werkzeug
google-cloud-vision
Flask
transformers
spellchecker
sentence_transformers
google-generativeai
python-docx
pdfplumber
nltk
PyPDF2
PyMuPDF
gunicorn
faiss-cpu
